<!DOCTYPE html>
<html>
<head>
    <title>Forecast</title>
</head>
<body>
    <h1>7 Day Forecast</h1>
    <h2>{{ location }}</h2>

    <table border="1">
        <tr>
            <th>Date</th>
            <th>High (°F)</th>
            <th>Low (°F)</th>
            <th>Precipitation</th>
        </tr>

        {% for day in days %}
        <tr>
            <td>{{ day.date }}</td>
            <td>{{ day.tmax }}</td>
            <td>{{ day.tmin }}</td>
            <td>{{ day.precip }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Search Again</a>
</body>
</html>